<div class="hero-unit">
  <h1>Simply Meetings</h1>
  <p>The simplest meeting room planner there is.</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
<div class="row">
  <div class="span4">
    <h2>Important Point</h2>
    <p>First Important Point</p>
  </div>
  <div class="span4">
    <h2>Important Point</h2>
    <p>Second Important Point</p>
  </div>
  <div class="span4">
    <h2>Important Point</h2>
    <p>Third Important Point</p>
  </div>
</div>


